# AVOID ports listed in the following URL
# ERR_UNSAFE_PORT
# https://stackoverflow.com/questions/58284965/after-publishing-all-code-getting-err-unsafe-port-on-chrome
# https://superuser.com/questions/188006/how-to-fix-err-unsafe-port-error-on-chrome-when-browsing-to-unsafe-ports
# https://www-archive.mozilla.org/projects/netlib/portbanning#portlist
# https://chromium.googlesource.com/chromium/src.git/+/refs/heads/master/net/base/port_util.cc?pli=1#
#
TRAEFIK_WEB_PORT=30080
TRAEFIK_ADMIN_PORT=38080
#
REDIS_PORT=36379
POSTGRES_PORT=35432
MINIO_PORT=34572
#